body{ background: url(../imagenes/fondo\ proyecto.jpg);
    background-size: cover;
    background-attachment: fixed;
text-align: center; text-justify: distribute;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;;}

nav{
    width: 100%; height: 160%;
    background:url(../imagenes/fondo\ header.jpg)}


   
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
  
    .contenedor {
      width: 90%;
      max-width: 1200px;
      margin: auto;
      padding: 40px 0;
    
      display: flex;
      gap: 80px;
    }
    
    .titulo {
      font-size: 24px;
      padding: 20px 0;
    }
    
    .contenedorpasos{
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;



    }
    
    .card {
      border-radius: 10px;
      min-height: 200px;
      font-weight: bold;
      padding: 20px;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
    
      width: 30% ;
    }
    
    .card .textos {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
    }
    
    .banner {
      border-radius: 60px;
      text-align: center;
      padding: 120px;
      background-size: cover;
      background-position: center center;
    
    
    }
    
    .banner ul {
      list-style: none;
    }
    
    .banner ul li {
      margin: 15px;
      font-weight: bold;
    }
    
    .banner .boton {
      background: #77a2ff;
      display: block;
      width: 100%;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      padding: 10px;
      border: none;
      border-radius: 100px;
      font-family: 'Roboto', sans-serif;
      cursor: pointer;
    }
    
    @media screen and (max-width: 900px) {
      
    }
    
    @media screen and (max-width: 700px) {
      
    }
    
    @media screen and (max-width: 600px) {
    
    }


.containercard {
  background:url(../imagenes/fondo\ seccion.jpg) ;
  background-size:cover;
  background-attachment:fixed;
  padding:45px 05px 20px;
  padding-left: 50px;
  font-size:15px;
  line-height:24px;
 display:flex;
 gap: 40px;

    }




.site-footer{
      background: url(../imagenes/imagen\ footer.gif);
      background-size:contain;
      background-attachment: fixed;
      padding:45px 0 20px;
      font-size:15px;
      line-height:24px;
      color:#030303; }
    .site-footer hr {
      border-top-color:rgb(152, 54, 190);
      opacity:0.5 }
    .site-footer hr.small{
      margin:20px 0
    }
    .site-footer h6 {
      color:rgb(89, 37, 133);
      font-size:16px;
      text-transform:uppercase;
      margin-top:5px;
      letter-spacing:2px }
    .site-footer a{
      color:#737373; }
    .site-footer a:hover{
      color:#a833cc;
      text-decoration:none;}
    .footer-links {
      padding-left:0;
      list-style:none}
    .footer-links li {
      display:block}
    
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover {
      color:#a833cc;
      text-decoration:none; }
    .footer-links.inline li {
      display:inline-block }
    .site-footer .social-icons {
      text-align:right }
    .site-footer .social-icons a {
      width:40px;
      height:40px;
      line-height:40px;
      margin-left:6px;
      margin-right:0;
      border-radius:100%;
      background-color:#33353d}

    
    @media (max-width:767px)
    {      .site-footer
      {
        padding-bottom:0
      }
      .site-footer .copyright-text,.site-footer .social-icons
      {
        text-align:center
      }
    }
    .social-icons  {
      padding-left:0;
      margin-bottom:0;   
    }
    .social-icons li   {
      display:inline-block;
      margin-bottom:4px
    }
    
    .social-icons img{
      background-color:#eceeef;
      color:#818a91;
      font-size:16px;
      display:inline-block;
      line-height:44px;
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      }
    
    .social-icons.size-sm a  {
      line-height:34px;
      height:34px;
      width:34px;
      font-size:14px }

    .social-icons img.facebook {
      background-color:#3b5998
    }
    .social-icons img.whatsapp {      
      background-color: rgb(95, 216, 95);
    }
    .social-icons img.instagram {
      background-color:#007bb6
    }
    .social-icons img.youtube {
      background-color:#d63030
    }
    
    